@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a;
}

/* Default: 1 column */
.my-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem; /* same as Tailwind gap-2 */
}

/* SM to MD: 2 columns */
@media (min-width: 700px) {
  .my-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* LG and above: 3 columns */
@media (min-width: 1560px) {
  .my-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
